<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="localdb"
         connectionString="Host=localhost; Port=3306; Database=projectmgmt;Username=sqlUser;Password=Passw0rd!;Allow User Variables=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>